.myimage
  {
	  width: 124px;
    -webkit-transition: all 1s ease-in-out;
  -moz-transition: all 1s ease-in-out;
  -o-transition: all 1s ease-in-out;
  transition: all 1s ease-in-out;
  }
  .red_tbl{
   color: red !important;
    font-family: ralewaySemiBold;
  }
  .page-header {
       padding-bottom: 9px !important;
    border: none !important;
}
  .head_txt{
  color: grey !important;
    font-size: 1.5em;
  }
  .bottom_notes{
    float:right;
       margin: 3%;
  }
 body{
  font-family: raleway;
 }
 .wallet_bal{
  color: green;
    border: 1px solid red;
    /* width: 100%; */
 width: 16%;
    padding: 1%;
 }
.center_details{
  text-align: center;
}
.home_td_space{
padding: 15px 40px 2px 2px;
font-family: ralewaySemiBold;
    color: grey;
}
  .menu{
	  text-decoration: none ! important;
  }
  .logout-session
  {
    float: right;
    color: red !important;
  }
   .button
  {
	 border-radius: 0 31px 30px 0;
    margin-right: 10px;
  }
   .button:active
  {
	 border-radius: 0 31px 30px 0;
    margin-right: 10px;
  }
 .succ_fail_margin{
       margin-top: 2%;
    margin-bottom: -5%;
  }
  .success
  {
    font-family: raleway;
    background-color: #61b832;
    border-color: #55a12c;
    text-align: center;
    color: green;
    margin-left: 35%;
    font-size: 15px;
    width: 100%;
    border: 1px solid;
    color: #fff;
    padding: 8px;
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
  }
  .error
  {
    background-color: #e45b1d;
    text-align: center;
    color: red;
    margin-left: 22%;
    font-size: 15px;
    width: 100%;
    border: 1px solid;
    color: #fff;
    padding: 8px;
    -moz-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    -webkit-box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
    box-shadow: inset 0 -1px 0 rgba(255,255,255,.4);
  }
  .login-session {
     font-family: ralewaySemiBold;
    float: right;
    margin-right: 0%;
    font-size: 16px;
       color: grey;
}
.build_text{
    color:red !important;
  }
 
  .myimage:hover {
   transform: scale(1.1);
 }
 .btn-info {
  border: none !important;
    
    font-size: 20px;
    font-weight: bold;
    background-color: #5bc0de;
}

.home-size{
  font-size:4.5em !important;
      color: red;

}
.back-size{
   font-size:3em !important;
   margin-left: 3%;
}

.search_form{
   width: 35%;
    box-sizing: border-box;
    border: 1px solid #ccc;
 
    font-size: 15px;
    background-color: white;
    background-position: 10px 10px;
    background-repeat: no-repeat;
    padding: 10px 10px 10px 40px;
   
}
.btn_emp{
     float: right;
    padding: 10px 10px 10px 10px;
    }
    .right_content{
      float:right !important;
    }
    .btn_style{
          background-color: white;
    border: none;
    color: black;
    font-size: 20px;
    font-weight: bold;
    }
    .btn_style:focus{
      outline: none !important
    }

.home{
	  width: 100px;
    margin-right: 15%;
     
  }
 
   h3 {
    font-size: 24px;
    color: rgb(45, 20, 12) !important;
}
a {
    text-decoration: none !important;
}